@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/
/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');*/


li .side-menu__item{
    color: #656565;
    margin-left: 10px;
}

li .side-menu__item:hover{
    color: #006600;
    border-left: 5px solid #CE8000;
}

.main-header-search{
    margin: 0 auto;
    height: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 5px;
}

.main-header-search input{
    width: 100%;
    line-height: 20px;
    border: none;
    background: url('../../images/icons/search-w18.png') center left no-repeat;
    padding: 10px 0px 10px 20px;
    outline: none;
}

@media only screen and (min-width: 600px) {
    .welcome-image{
        width: 300px;
        position: relative;
        top: -100px
    }
}

@media only screen and (max-width: 600px) {
    .welcome-image{
        width: 300px;
    }
}

.dashboard-summary-box{
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0 20px 15px;
}

.module-preview-box{
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}

.module-preview-inner{
    min-height: 85px;
    background: #F4F4F4;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-top: 5px;
}

.module-preview-header{
   background: #006600;
   min-height: 60px;
   height: 60px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2px;
}

.module-preview-header p{
    font-size: 18px;
    color: #fff;
    text-align: left;
}

img.course-img{
    position: relative;
    object-position: center;
    /*object-fit: none;*/
    width: 400px;
}

.course-card{
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /*background-color: #ececec;*/
}

.course-header{
    padding: 8px 6px 0 8px;
    min-height: 47px;
}

.course-body{
    padding: 10px;
}

.start-assessment-btn {
    padding: 10px 0;
    width: 200px;
    border-radius: 5px;
    /*margin: 10px auto;*/
    border: none;
}

.submit-btn {
    padding: 10px 0;
    width: 50%;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
}

.submit-btn-full {
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
}

.course-discussion-textarea{
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    height: 100px;
    border: none;
}
